<div th:fragment="parent(content)">
    
    <div th:insert="${content}"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa non incidunt sequi deserunt repellendus perspiciatis temporibus autem consequuntur, deleniti vero iure! Eligendi, fugit! Repudiandae amet possimus ex eaque, dolorem quos.</p>
    <h1>User is logged In</h1>
</div>

<section th:fragment="nL">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa non incidunt sequi deserunt repellendus perspiciatis temporibus autem consequuntur, deleniti vero iure! Eligendi, fugit! Repudiandae amet possimus ex eaque, dolorem quos.</p>
    <h1>User is not logged in </h1>
</section>