<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <div id="content">
      <!-- Sidebar -->
      <div th:if="${loggedInUser != null}">
        <div data-th-replace="~{Sidebar :: sidebar}"></div>
      </div>

      <!-- Main Content -->
      <div class="lg:pl-64 flex justify-center mt-8">
        <div class="grid grid-cols-12">
          <div class="col-span-3"></div>
          <div class="col-span-12 md:col-span-6">
            <a
              class="block w-full p-6 bg-gray-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
              <div data-th-replace="message::messagebox"></div>
              <h1
                class="text-xl font-semibold text-center dark:text-white mb-2"
              >
                This is add contact form
              </h1>
              <p class="text-gray-500 mb-3">
                This contact will be saved on cloud, you can directly email this
                client from SCM
              </p>

              <form
                action=""
                class="mt-8"
                th:action="@{/user/contact/add}"
                th:object="${contactForm}"
                method="post"
                enctype="multipart/form-data"
              >
                <!-- Favourite -->
                <div class="me-4 mb-2">
                  <input
                    data-th-field="*{favorite}"
                    id="favourite"
                    type="checkbox"
                    value=""
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="favourite"
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Mark this contact as Favourite</label
                  >
                </div>
                <!-- Name -->
                <div>
                  <label
                    for="name"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact name</label
                  >
                  <div class="relative mb-4">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-user w-4 h-4"></i>
                    </div>
                    <input
                      data-th-field="*{name}"
                      type="text"
                      id="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="XYZZ"
                    />
                  </div>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('name')}"
                    data-th-errors="*{name}"
                  >
                    Invalid Name
                  </p>
                </div>

                <!-- Email -->
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact email</label
                  >
                  <div class="relative mb-4">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-envelope w-4 h-4"></i>
                    </div>
                    <input
                      data-th-field="*{email}"
                      type="text"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name@provider.com"
                    />
                  </div>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('email')}"
                    data-th-errors="*{email}"
                  >
                    Invalid Email
                  </p>
                </div>

                <!-- Phone -->
                <div>
                  <label
                    for="Phone"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact Phone No.</label
                  >
                  <div class="relative mb-4">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-phone w-4 h-4"></i>
                    </div>
                    <input
                      data-th-field="*{phoneNumber}"
                      type="text"
                      id="phone"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name@provider.com"
                    />
                  </div>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('phoneNumber')}"
                    data-th-errors="*{phoneNumber}"
                  >
                    Invalid Email
                  </p>
                </div>

                <!-- Address -->
                <div class="mb-4">
                  <label
                    for="address"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact Address</label
                  >
                  <textarea
                    data-th-field="*{address}"
                    id="address"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="XYZ town, City, Country, Pincode"
                  ></textarea>

                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('address')}"
                    data-th-errors="*{address}"
                  >
                    Invalid Email
                  </p>
                </div>

                <!-- Description About Contact -->
                <div class="mb-4">
                  <label
                    for="description"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact Description</label
                  >
                  <textarea
                    data-th-field="*{description}"
                    id="description"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="XYZ town, City, Country, Pincode"
                  ></textarea>
                </div>

                <!-- Social Links -->

                <div class="flex space-x-2">
                  <!-- LinkedIn Link -->
                  <div class="w-full">
                    <label
                      for="linkedIn Link"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Contact Linkedin account link</label
                    >
                    <div class="relative mb-4">
                      <div
                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                      >
                        <i class="fa-brands fa-linkedin-in w-4 h-4"></i>
                      </div>
                      <input
                        data-th-field="*{linkedInLink}"
                        type="text"
                        id="linkedInLink"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="link "
                      />
                    </div>
                  </div>

                  <!-- Website Link Link -->
                  <div class="w-full">
                    <label
                      for="websiteLink"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Contact Website Link</label
                    >
                    <div class="relative mb-4">
                      <div
                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                      >
                        <i class="fa-solid fa-globe w-4 h-4"></i>
                      </div>
                      <input
                        data-th-field="*{websiteLink}"
                        type="text"
                        id="websiteLink"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="link "
                      />
                    </div>
                  </div>
                </div>

                <!-- Contact Image -->
                <div class="mb-4">
                  <label
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    for="picture"
                    >Contact Image</label
                  >
                  <input
                    class="block w-full text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    data-th-field="*{contactImage}"
                    type="file"
                    id="contactImage"
                    accept="image/*"
                    onchange="previewImage(event)"
                  />
                  <p
                    class="mt-1 text-sm text-gray-500 dark:text-gray-300"
                    id="file_input_help"
                  >
                    PNG, JPG or JPEG (MAX. 800x400px).
                  </p>
                  <div class="flex justify-center ">
                    <div id="imagePreview" class="mt-4 hidden">
                      <img
                        id="preview"
                        src="#"
                        alt="Image preview"
                        class="w-[400px] h-[400px] rounded-lg"
                      />
                    </div>
                  </div>
                </div>

                <div>
                  <button
                    type="submit"
                    class="w-full bg-gradient-to-r from-blue-600 to-blue-500 hover:from-blue-700 hover:to-blue-600 text-white font-semibold py-2.5 px-4 rounded-lg focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition-all duration-300 transform hover:-translate-y-0.5"
                  >
                    Add
                  </button>
                </div>
              </form>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script>
      console.log("Add Contact page loaded");

      function previewImage(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
          const reader = new FileReader();

          reader.onload = function (e) {
            const preview = document.getElementById("preview");
            preview.src = e.target.result;
            document.getElementById("imagePreview").classList.remove("hidden");
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </body>
</html>
